.copyLink {
  color: var(--blue-color);
  text-decoration: none;
}

.prettyLink {
  color: var(--blue-color);
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    color: var(--purple-color);
    border-color: var(--indigo-color);
  }
}

.prettyLink:focus,
.prettyLink:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.iconGridItem {
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
}



@media only screen and (max-width: 768px) {
  .homeContainer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
  }
  .sideContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }

  .iconGrid {
    margin: 1em auto;
  }
  .sideInnerTop {
    h1 {
      margin: auto 0;
      font-size: 1.5em;

    }
    img {
        margin: auto;
      }
  }
}