.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid var(--brown-color);
}

.topNav img {
    height: 50px;
    width: 50px;
}

.navItem {
    color: var(--gray-color);
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
        color: var(--purple-color);
        border-color: #646cff;
    }
}

.navItem:focus,
.navItem:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}