#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: left;
  /* height: 100vh;
  width: 80vw; */
}


.homeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #eff1f3ff;
}

.sideContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  margin: 0em 1em;
}

.sideInnerTop {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  display: grid;
  margin: 1em 0em;
  
  h1 {
    margin: 1em 0;
    }
  
  img {
    grid-column-start: 2;
    margin: 1em auto;
    width: 64px;
    height: 64px;
  }
}

.sideInnerBody {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;

  p {
    margin: 1em auto;
  }
}

.iconGrid {
  display: flex;
  width: 100%;
  margin: 0em auto;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 1fr;
  justify-content: center;
}

.iconGridItem {
  margin: auto;

}

.colorBlockGreen,
.colorBlockBrown,
.colorBlockOrange,
.colorBlockGray {
  height: .75em;
  width: .75em;
}

.colorBlockGreen {
  background: #5dfdcbff;
}

.colorBlockBrown {
  background: #C9B79C;
}

.colorBlockOrange {
  background: #FE4A49;
}

.colorBlockGray {
  background: #696773ff;
}

@media only screen and (max-width: 768px) {
  .homeContainer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
  }
  .sideContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }

  .iconGrid {
    margin: 1em auto;
  }
  .sideInnerTop {
    h1 {
      margin: auto 0;
      font-size: 1.5em;

    }
    img {
        margin: auto;
      }
  }
}